.calc-component .calc-inner-content {
    background-color:  #f9f9f9;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 0;
}

.calculate-result-container .calc-done-block .calc-inner-block h1 {
    bottom: 0;
}

.calc-inner-content .calc-right-side img {
    max-width: 100%;
    height: auto;
}

.calc-inner-content li .hide-variant {
    display: none;
}

.calc-inner-content .calculate-result-container:not(.hide){
    width: 100%;
    background-color: #fff;
    padding-top: 70px;
}

.calc-inner-content .calculate-result-container:not(.hide).animate-show {
    opacity: 1;
    position: relative;
    bottom: 0;
    transition: all 0.4s linear;
}

.calc-inner-content .calc-list-dropdown .calc-dropdown-title {
    display: flex;
    align-items: center;
    height: 100%;
    color:  #838383;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
}

.calc-inner-content .calc-list-dropdown.closed .calc-dropdown-title.black-text {
    text-transform: none;
    color: #0e0e0e;
}

.calc-inner-content .calc-list-dropdown .calc-dropdown-title:not(.singleton)::after {
    content: '';
    width: 15px;
    height: 12px;
    background: url(/upload/av_site/landings/av-steel/arrow.png) 0 0 no-repeat;
    position: absolute;
    right: 20px;
    z-index: 1;
    transform: rotate(0);
    transition: all 0.5s linear;
}

.calc-inner-content .calc-list-dropdown .calc-dropdown-title.selected-drop::after {
    transform: rotate(180deg);
    transition: all 0.5s linear;
    z-index: 99;
}

.calc-inner-content .calc-list-dropdown.closed .calc-dropdown-title.selected-drop::after {
    z-index: 0;
    transform: rotate(0);
    transition: all 0.5s linear;
}

.calc-inner-content .calc-list-data {
    display: inline-block;
    color: #0e0e0e;
    text-decoration: none;
}

.calc-inner-content .calc-list-data:hover {
    color: #ff2d39;
    text-decoration: none;
    cursor: pointer;
}

.calc-inner-content .calc-dropdown-box {
    display: none;
    padding: 15px 0 10px 15px;
    border-radius: 5px;
    background-color:  #fff;
    box-shadow: 3px 5px 6px 0px rgba(5, 5, 6, 0.08);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.calc-inner-content .calc-dropdown-box li {
    list-style: none;
    text-align: left;
}

.calc-inner-content .calc-dropdown-box.closed {
    display: none;
}

.calc-inner-content .calc-dropdown-title-selected.warning {
    color: #ff202a;
}

.calc-inner-content .calc-dropdown-title-selected {
    text-transform: uppercase;
    color: rgba(131, 131, 131, 0.55);
    height: 20px;
    position: relative;
    top: 20px;
    left: 15px;
    transition: top 0.5s linear;
}

.calc-inner-content .calc-dropdown-title-selected.up {
    top: 0;
    left: 15px;
    transition: top 0.5s linear;
}

.calc-inner-content .length-wall.warning,
.calc-inner-content .height-wall.warning,
.calc-inner-content .calc-list-dropdown .calc-dropdown-title.warning {
    border: 1px solid #ff202a;
    border-radius: 5px;
}

.calc-inner-content .calc-list-dropdown.working-width .calc-dropdown-title,
.calc-inner-content .calc-list-dropdown.total-width .calc-dropdown-title {
    color: rgba(131, 131, 131, 0.55);
}

.calc-inner-content .calc-list-dropdown.working-width .calc-dropdown-title::after,
.calc-inner-content .calc-list-dropdown.total-width .calc-dropdown-title::after {
    display: none;
}

.calc-inner-content .calc-done-rezult .col-md-3{
    padding: 0;
}

.calc-inner-content .calc-input-title-selected {
    text-transform: uppercase;
    height: 20px;
    display: block;
    position: relative;
    top: 20px;
    left: 15px;
    transition: top 0.3s linear;
}

.calc-inner-content .calc-input-title-selected.up {
    top: 0;
    transition: top 0.3s linear;
}

.calc-right-side {
    margin-top: 45px;
}

.calc-inner-content .calculate-btn-block {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.calc-inner-content .calculate-btn-block button {
    border-radius: 5px;
    padding: 7px 50px;
    border: none;
    text-transform: uppercase;
}

.calc-inner-content .calculate-btn-block button:active,
.calc-inner-content .calculate-btn-block button:hover,
.calc-inner-content .calculate-btn-block button:focus {
    outline: none;
}

.calc-inner-content .calculate-btn-active.inactive,
.calc-inner-content .calculate-btn-active:not(.inactive){
    color: #fff;
    margin-right: 35px;
}

.calc-inner-content .calculate-btn-active.inactive {
    background-color: #868686;
    cursor: default;

}

.calc-inner-content .calculate-btn-active:not(.inactive) {
    background-color: #FF202A;
    border: 1px solid #FF202A;
}

.calc-inner-content .calculate-btn-active:not(.inactive):hover {
    background-color: #CC0000;
    border: 1px solid #CC0000;
    cursor: pointer;
    transition: .3s;
}

.calc-inner-content .calculate-btn-block .calculate-btn-cancel {
    border: 1px solid #868686;
    background-color: #fff;
    color: #868686;
}

.calc-inner-content .working-width-variants,
.calc-inner-content .total-width-variants {
    display: none;
}

.calc-done-block {
    border: 3px solid red;
    border-radius: 8px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.calc-done-block .calc-inner-block {
    position: relative;
    bottom: 40px;
    text-align: center;
}

.calc-done-block .calc-inner-block h1 {
    display: inline-block;
    background-color: #fff;
    padding: 0 20px;
}

.calc-done-block .calc-done-list,
.calc-inner-block {
    text-align: center;
}

.calc-done-block .calc-done-txt {
    color:  #838383;
    text-transform: uppercase;
    margin-right: 10px;
}

.calc-done-block .calc-done-num {
    color:  #0e0e0e;
    font-size: 24px;
}

.calc-done-block .calc-done-btn-block {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.calc-done-block .calc-done-btn {
    border-radius: 5px;
    border: 1px solid #ff202a;
    padding: 6px 22px;
    color: #ff2d39;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
}

.popup-right-numbers {
    color: #757373;
    font-size: 14px;
    background-color: #fdfdd3;
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 1;
    display: none;
}

.popup-right-numbers::after {
    content: '';
    border: 10px solid transparent;
    border-top: 15px solid #fdfdd3;
    position: absolute;
    left: 15px;
    bottom: -22px;
}

@media screen and (max-width: 1200px ) {
    .calc-done-block .calc-done-txt {
        display: block;
    }
}

@media screen and (max-width: 991px ) {
    .calc-left-side {
        text-align: center;
        float: none;
        margin: auto;
    }

    .calc-right-side {
        display: none;
    }

    .calc-done-block .calc-done-txt,
    .calc-done-block .calc-done-num {
        display: inline-block;
        text-align: left;
        min-width: 200px;
    }

    .calc-done-block .calc-done-num {
        min-width: 120px;
    }

    .calc-inner-content .calc-dropdown-title-selected,
    .calc-inner-content .calc-input-title-selected {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 767px ) {
    .calc-right-side img {
        max-width: 100%;
        height: auto;
    }

    .calc-inner-block {
        margin: 0 15px;
    }
}

@media screen and (max-width: 600px ) {
    .calc-left-side {
        width: 75%;
    }
}

@media screen and (max-width: 425px ) {
    .calc-done-block {
        border: none;
    }

    .calculate-btn-active {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .calc-inner-content .calc-list-dropdown .calc-dropdown-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        display: block;
        text-align: left;
    }

    .calc-list-dropdown {
        line-height: 44px;
    }

    .calc-inner-block h1 {
        font-size: 30px;
    }

    .calc-inner-block span {
        font-size: 16px;
        padding: 0 15px;
    }

    .calc-inner-content .calculate-btn-active:not(.inactive) {
        margin-right: 0;
    }

    .calc-inner-content .calculate-btn-block button {
        display: inline-block;
        width: 90%;
    }

    .calc-inner-content .calc-list-dropdown .calc-dropdown-title:not(.singleton)::after {
        top: 0;
        bottom: 0;
        left: auto;
        right: 10px;
        margin: auto;
    }

    .calc-inner-content .calc-dropdown-title-selected,
    .calc-inner-content .calc-input-title-selected {
        margin-left: 0;
    }

    .calc-left-side {
        width: 100%;
    }

    .calc-done-block .calc-done-txt,
    .calc-done-block .calc-done-num {
        text-align: center;
        margin-right: 0;
    }

    .calc-done-block .calc-done-list {
        margin-bottom: 10px;
    }
}