.av-form-styled-select-checkbox
{
position: relative;
}
.av-form-styled-select-checkbox > label
	{
	color: #B6C0C6;
	font-size: calc(1em - 2px);
	padding: 5px;
	}
.av-form-styled-select-checkbox.required > label::after
	{
	color: #CC0000;
	content: "*";
	display: inline-block;
	margin-left: 3px;
	}
.drop-type-products
	{
	align-items: center;
	border-bottom: 1px solid #868B8D;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	height: 30px;
	position: relative;
	margin-top: 30px;
	}
.drop-type-products .arrow
	{
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	transition: .3s;
	width: 24px;
	height: 24px;
	transform: rotate(0);
	}
.drop-type-products .arrow.prod-rotate-arrow
	{
	transform: rotate(-180deg);
	}
.drop-type-products label
	{
	color: #B6C0C6;
	position: absolute;
	top: 0;
	left: 0;
	transition: .3s;
	font-size: calc(1em - 2px);
	}
.drop-down-products-type
	{
	width: 100%;
	background: #FFF;
	border-top: none;
	border-left: 1px solid #868B8D;
	border-right: 1px solid #868B8D;
	border-bottom: 1px solid #868B8D;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 10px 15px;
	display: none;
	max-height: 200px;
	margin-top: 0;
	position: absolute;
	z-index: 10;
	}

.drop-type-products.active .arrow {
	transform: rotate(-180deg);
}

.drop-type-products label {
	top: 0;
	left: 5px;
	transition: .3s;
}

.drop-type-products .toper {
	top: -30px;
	left: 0;
	transition: .3s;
}

.drop-type-products .list-product-rezult {
	color: #B6C0C6;
	font-size: calc(1em - 2px);
	line-height: 30px;
	overflow: hidden;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}