/* -------------------------------------------------------------------- */
/* --------------------------- clear style ---------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-list a,
.av-bases-list a:visited,
.av-bases-list a:hover,
.av-bases-list a:focus,
.av-bases-list a:active
{
    color: inherit;
    text-decoration: none;
}
/* -------------------------------------------------------------------- */
/* ------------------------------ items ------------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-list > .item
{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    justify-content: space-between;
    padding: 10px;
    transition: 0.3s;
}
.av-bases-list > .item:not(:last-child)
{
    margin-bottom: 6px;
}
.av-bases-list > .item.closed
{
    opacity: 0.5;
}
.av-bases-list > .item .title
{
    width: 100%;
}
.av-bases-list > .item .content
{
    width: calc(100% - 200px - 26px);
}
.av-bases-list > .item .content > *:not(:last-child)
{
    padding-bottom: 13px;
}
.av-bases-list > .item .content .streams
{
    display: flex;
}
.av-bases-list > .item .content .streams > *:not(:last-child)
{
    margin-right: 6px;
}
.av-bases-list > .item .icon
{
    background: url(images/map.svg) center center no-repeat;
    transition: 0.3s;
    width:  200px;
    height: 120px;
}

.av-bases-list > .item:hover,
.av-bases-list > .item:active,
.av-bases-list > .item:focus
{
    box-shadow: 0 4px 8px rgba(76, 82, 85, 0.25);
}
.av-bases-list > .item:hover  .icon,
.av-bases-list > .item:active .icon,
.av-bases-list > .item:focus  .icon
{
    background-image: url(images/map_active.svg);
}
/* -------------------------------------------------------------------- */
/* ------------------------------ other ------------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-list
{
    margin: -10px;
}
.av-bases-list-pager.top
{
    margin-bottom: 52px;
}
.av-bases-list-pager.bottom
{
    margin-top: 52px;
}
/* -------------------------------------------------------------------- */
/* ------------------------------ media ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 767px)
{
    .av-bases-list > .item .content
    {
        width: 100%;
    }
    .av-bases-list > .item .icon
    {
        display: none;
    }
}